<div class="main">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Admin Interface</div>
        </a>
      
        <hr class="sidebar-divider my-0" />
      
        <!-- Dashboard -->
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/admin/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
      
        <hr class="sidebar-divider" />
      
        <div class="sidebar-heading">Interface</div>
      
        <!-- Settings -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/settings">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
        </li>
      
        <!-- Tasks -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/projets">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Tasks</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/gamification">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gamification</span>
          </a>
        </li>
      
        <!-- Utilities Collapse -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
            aria-expanded="false" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
          </a>
          <div id="collapseUtilities" class="collapse" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Custom Utilities:</h6>
              <a class="collapse-item" routerLink="/admin/utilities/colors">Colors</a>
              <a class="collapse-item" routerLink="/admin/utilities/borders">Borders</a>
              <a class="collapse-item" routerLink="/admin/utilities/animations">Animations</a>
              <a class="collapse-item" routerLink="/admin/utilities/other">Other</a>
            </div>
          </div>
        </li>
      
        <hr class="sidebar-divider" />
      
        <div class="sidebar-heading">Addons</div>
      
        <!-- Pages Collapse -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
            aria-expanded="false" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div id="collapsePages" class="collapse" data-bs-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" routerLink="/login">Login</a>
              <a class="collapse-item" routerLink="/register">Register</a>
              <a class="collapse-item" routerLink="/forgot-password">Forgot Password</a>
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" routerLink="/404">404 Page</a>
              <a class="collapse-item" routerLink="/blank">Blank Page</a>
            </div>
          </div>
        </li>
      
        <!-- Stats -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/stats">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Stats</span>
          </a>
        </li>
      
        <!-- Tables -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/admin/tables">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" role="button" (click)="logout()" >
            <i class="fas fa-fw fa-table"></i>
            <span >logout</span>
          </a>
        </li>
      
        <hr class="sidebar-divider d-none d-md-block" />
      
        <!-- Sidebar Toggler -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      
        <!-- Sidebar Message -->
      
      </ul>
      
</div>