<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a [routerLink]="['/']" class="logo">
            <h1>Timeforge</h1>
          </a>

          <ul class="nav">
            <li *ngIf="!isLogged"><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li *ngIf="isLogged"><a [routerLink]="['/A']" routerLinkActive="active">Project</a></li>
            <li *ngIf="!isLogged"><a [routerLink]="['/properties']" routerLinkActive="active">Properties</a></li>
            <li *ngIf="isLogged"><a [routerLink]="['/task']" routerLinkActive="active">Task</a></li>
            <li *ngIf="isLogged"><a [routerLink]="['/goals']" routerLinkActive="active">Goals</a></li>
            <li *ngIf="isLogged"><a [routerLink]="['/health']" routerLinkActive="active">Health Reminder</a></li>
            <li *ngIf="!isLogged"><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
            <li *ngIf="isLogged"><a (click)="logout()" role="button">Logout</a></li>
            <a *ngIf="isLogged" [routerLink]="['/MeetLauncher']" class="btn-meet">Lancer Meet</a>

            <!-- Dropdown notification -->
            <li *ngIf="isLogged" class="dropdown" [class.open]="showDropdown" (click)="toggleDropdown()">
              <a class="dropdown-toggle">
                <i class="fa fa-calendar"></i> Reminder
                <span *ngIf="projectNotifications.length" class="badge">{{ projectNotifications.length }}</span>
              </a>
              <ul *ngIf="showDropdown" class="dropdown-menu">
                <li *ngIf="projectNotifications.length === 0" class="dropdown-item">
                  <a>Aucune deadline proche</a>
                </li>
                <li *ngFor="let notification of projectNotifications" class="dropdown-item">
                  <a>deadline des projet aproche</a>
                  <a>{{ notification.name }} - {{ notification.deadline | date:'shortDate' }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
