.layout-page{
    width: 100%;
    display: flex;
    justify-content: flex-start ;
}
.sidenav-container{
    width: 15%;
    position: fixed;
}
.content-container {
    width: 85%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 0;
}
.navbar-container{
    position: fixed;
    width: 85%;
    z-index: 1;
}
.content {
    margin-top:10%;
    height: 90%;
}
